body {
    font-family: 'Inter', sans-serif;
    background: url(bg-image.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}
.container {
    width: 600px;
}
