* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #DBD3D8;
    margin: 0px;
}
li, a {
    font-weight: 500;
    font-size: 15px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    background-color: #223843;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 26px;
    color: #D77A61;
    text-decoration: none;
}

.nav-bar {
    list-style: none;
    padding: 0px;
}

.nav-bar li{
    display: inline-block;
    padding: 0px 20px;
}

.pfp {
    display: block;
    padding: 20px;
    height: 50vh;
    margin: auto;
}

.container {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    text-justify: inter-word;
    padding: 5vh 0vh 5vh 0vh;
}

#home {
    background-color: #D8B4A0;
}