
.img-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-col-span2 {
    grid-column: span 2;
}

.reso{
    max-width: 50vh;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
	.img-grid {
		--num-cols: 2;
		--row-height: 200px;
	}
}