* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-bar {
    border-bottom: .5px solid lightgray;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content:center;
    padding: 15px;
}

a {
    margin: 25px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
